body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-image: url("../img/event-background.jpg");
}

/*Global */
.container{
    width:80%;
    margin:auto;
}

/* Footer **/
.footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    color:#ffffff;
    background-color: black;
    text-align:center;
    height:50px;
    padding-top: 15px;
}
